.advantages {
    background-color: #f3f3f3;
    padding-top: 58px;
    padding-bottom: 51px;
    &__item {
        display: flex;
        margin-top: 31px;
    }
    &__icon {
        width: 64px;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 17px;
    }
    &__text {
        width: 474px;
    }
    &__title {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: $main-color;
        margin-bottom: 0;
    }
    &__description {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
        margin-top: 7px;
        margin-bottom: 0;
    }
}