@media (max-width: 1399px) {
    .consultation {
        &__wrapper {
            padding-left: 146px;
            padding-right: 146px;
        }
    }
}

@media (max-width: 1199px) {
    .header {
        .contact {
            flex-direction: column;
            &__wrapper {
                margin-right: 0;
                margin-bottom: 4px;
            }
        }
    }

    .consultation {
        &__wrapper {
            padding-left: 56px;
            padding-right: 56px;
        }
    }
}

@media (max-width: 991px) {
    .header {
        .contact {
            display: none;
        }
    }

    .menu {
        &__item {
            padding-left: 12px;
            padding-right: 12px;
        }
        &__link {
            font-size: 14px;
        }
    }

    .intro {
        padding-top: 152px;
        &__title {
            font-size: 55px;
        }
        &__subtitle {
            font-size: 34px;
        }
        &__divider {
            &::after, &::before {
                width: 330px;
            }
        }
    }

    .advantages {
        &__item {
            flex-direction: column;
        }
        &__icon {
            margin: 0 auto;
            margin-bottom: 9px;
        }
        &__text {
            width: 100%;
        }
        &__title {
            text-align: center;
        }
    }

    .subtitle {
        font-size: 16px;
    }

    .service {
        &__text {
            font-size: 18px;
        }
    }

    .consultation {
        &__wrapper {
            padding-left: 41px;
            padding-right: 41px;
        }
    }

    .form {
        &__input {
            width: 200px;
            &_textarea {
                width: 100%;
            }
        }
    }

    .reviews {
        &__slider {
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .questions {
        &__wrapper {
            width: 686px;
        }
    }

    .footer {
        &__logo {
            p {
                font-size: 14px;
            }
        }
        .contact {
            flex-direction: column;
            &__wrapper {
                margin-right: 0;
                margin-bottom: 4px;
            }
        }
    }
}

@media (max-width: 767px) {
    .hamburger {
        width: 32px;
        height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        span {
            display: block;
            width: 32px;
            height: 2px;
            background-color: #fff;
        }
    }

    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .95);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: all .25s;
        &_active {
            left: 0;
        }
        &__close {
            width: 32px;
            height: 24px;
            position: absolute;
            top: 61px;
            right: 30px;
            span {
                display: block;
                width: 32px;
                height: 2px;
                background-color: #fff;
                &:nth-child(1) {
                    transform: rotate(45deg) translate(8px, 8px);
                }
                &:nth-child(2) {
                    transform: rotate(-45deg) translate(-7px, 6px);
                }
            }
        }
        &__item {
            border-right: none;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            text-align: center;
        }
        &__link {
            font-size: 24px;
            display: block;
            padding-top: 16px;
            padding-bottom: 16px;
            border-bottom: none;
            &:hover {
                border-bottom: none;
            }
        }
    }

    .intro {
        &__lead {
            font-size: 19px;
        }
        &__title {
            font-size: 41px;
        }
        &__subtitle {
            font-size: 25px;
        }
        &__divider {
            &::after, &::before {
                width: 240px;
            }
        }
    }

    .advantages {
        &__description {
            text-align: center;
        }
    }

    .title {
        font-size: 21px;
    }

    .consultation {
        &__wrapper {
            height: 260px;
        }
    }

    .form {
        flex-direction: column;
        align-items: center;
        &__input {
            width: 100%;
            margin-bottom: 8px;
        }
    }
    
    .questions {
        &__wrapper {
            width: 100%;
        }
    }

    .footer {
        &__top {
            flex-direction: column;
        }
        &__logo {
            flex-direction: column;
            img {
                margin-right: 0;
                margin-bottom: 20px;
            }
            p {
                text-align: center;
                margin-bottom: 20px;
            }
        }
        .contact {
            &__wrapper {
                text-align: center;
            }
        }
        &__bottom {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (max-width: 575px) {
    .intro {
        &__title {
            font-size: 38px;
        }
        &__divider {
            display: none;
        }
        .row {
            display: none;
        }
    }

    .form {
        &__wrapper {
            width: 200px;
            text-align: center;
        }
    }

    .footer {
        &__bottom {
            flex-direction: column;
        }
        &__policy {
            margin-top: 12px;
        }
        &__developer {
            margin-top: 24px;
        }
    }
}